<div class="row">
  <div class="col-4 offset-4">
      <ul class="list-group">
          <li class="list-group-item" *ngFor="let hero of heroes"> {{ hero | uppercase }}</li>

          <li class="list-group-item">
             <button class="btn btn-primary" (click)="addMore()">Add New Hero</button>
          </li>
          <br>

          <!-- <li class="list-group-item">{{inputHero}}</li> -->


          <li class="list-group-item" *ngIf="Adding">
            <input type="text" class="form-control" [(ngModel)]="inputHero">
            <button class="btn btn-success" [disabled]="!inputHero" (click)="addHero()">Add Hero</button>
           </li>
        </ul>
  </div>
</div>
